# vim: set ft=ssh_config:

Port 2222
HostKey ${home}/.sshd/ssh_host_rsa_key
PidFile ${home}/.sshd/sshd.pid

# Auth
ChallengeResponseAuthentication no
UsePAM yes

# Options
#AllowAgentForwarding yes
#AllowTcpForwarding yes
#GatewayPorts no
X11Forwarding yes
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
PrintMotd no
#PrintLastLog yes
#TCPKeepAlive yes
#PermitUserEnvironment no
#Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
#UseDNS no
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

# Refuse client locale env var
#AcceptEnv LANG LC_*
AcceptEnv no

# override default of no subsystems
Subsystem       sftp    /usr/lib/openssh/sftp-server
